<?xml version="1.0" encoding="utf-8"?>
<config>
  <serverUrl>http://localhost:9000</serverUrl>
  <region>SLROUTE</region>
  
  <firstName>Ayudante</firstName>
  <lastName>English</lastName>
  <password>1234</password>

  <initialPosition x="126" y="126" z="25" />
  <initialAngle yaw="90" />
</config>